.animation {
  transform: translate3d(0, 0, 0);
  -webkit-animation: vertical-scroll 60s linear infinite;
  animation: vertical-scroll 60s linear infinite;
}

@keyframes vertical-scroll {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, -79%, 0);
  }
}
