body .scrollbar-track {
  background-color: transparent;
  z-index: 11;
}

body .scrollbar-track.scrollbar-track-x {
  display: none !important;
}

body .scrollbar-thumb {
  width: 4px;
  left: 2px;
  background-color: rgba(black, 0.8);
}

body .scroll-content {
  > * {
    position: relative;
  }
}